ADMIN_PASSWORD=your_admin_password_here
DEFAULT_SERVER_CONNECTION=connect your_ip:your_port; password your_password
DEFAULT_RCON_HOST=your_ip_here
DEFAULT_RCON_PORT=32006
DEFAULT_RCON_PASSWORD=your_rcon_password_here
